<div class="container px-5">
    <h1><%= title %></h1>

    <div class="profile pt-4">
        <img src="/images/profile_pic.jpeg" alt="Profile Picture">
        <div class="bio">
            <p>
                As a graduate of Bandung State Polytechnic with a Bachelor's degree in Computer Applied Sciences, I have immersed myself in an academic environment that demands rapid and continuous learning. This experience has shaped my ability to adapt and grow, both in team settings and independently.
            </p>
        </div>
    </div>

    <p>
        I have a strong interest in software development, particularly in web development. My belief in continuous learning and technology exploration has guided me to engage in various software development projects, both professionally and personally.
    </p>

    <div class="skills">
        <h2>Key Projects and Skills</h2>
        <ul>
            <li>Geopark enterprise application development project</li>
            <li>HRIS web application development</li>
            <li>Web applications for managing RT/RW (final project)</li>
        </ul>
    </div>

    <p>
        My skills encompass a range of programming languages, including PHP, Java, and C, as well as technologies related to software development such as PostgreSQL and MySQL database management, Laravel framework, Node JS, and Vue JS. I am also proficient in using version control systems like Git and have a strong understanding of fundamental web development technologies like JavaScript, HTML, and CSS.
    </p>
</div>