<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        nav {
            background-color: #333;
            padding: 10px;
        }
        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            padding: 8px 16px;
        }
        nav a:hover {
            background-color: #575757;
            border-radius: 4px;
        }
        .btn {
            padding: 8px 16px 8px 16px;
            background-color: #575757;
        }
        .btn {
            padding: 8px 16px 8px 16px;
            background-color: #575757;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>Contact</h1>

    <h2>Contact Detail</h2>
    <div class="btn">
        <a href="/contact">Back</a>
    </div>
    <div>
        <span>Name: <%= contact.name  %></span>
        <br>
        <span>Email: <%= contact.email %></span>
        <br>
        <span>Phone Number: <%= contact.mobile  %></span>
    </div>
</body>
</html>