<h1><%= contact.name %></h1>

<div class="container d-flex flex-column p-5">
    <h2>Contact Detail</h2>
    <div class="pt-3">
        <span>Name: </span> <span class="fw-bold ps-4 text-end"><%= contact.name  %></span>
        <br>
        <span>Email: </span> <span class="fw-bold ps-4"><%= contact.email  %></span>
        <br>
        <span>Phone Number: </span> <span class="fw-bold ps-4"><%= contact.mobile  %></span>
    </div>
    <div class="pt-3">
        <a href="/contact" class="btn btn-primary">Back</a>
    </div>
</div>