<div id="sidenav" class="sidenav">
    <button type="button" id="toggleBtn" class="btn bg-transparent">
        <i class="bi bi-window-sidebar"></i>
    </button>
    <a href="/" class="<%= currentPage === '/' ? 'active' : '' %>">
        <i class="bi bi-house-door me-4"></i>Home
    </a>
    <a href="/about" class="<%= currentPage === '/about' ? 'active' : '' %>">
        <i class="bi bi-question-circle me-4"></i>About
    </a>
    <a href="/contact" class="<%= currentPage === '/contact' ? 'active' : '' %>">
        <i class="bi bi-person-badge me-4"></i>Contact
    </a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var sidenav = document.getElementById("sidenav");
        var toggleBtn = document.getElementById("toggleBtn");

        toggleBtn.addEventListener("click", function () {
            sidenav.classList.toggle("hidden");
        });
    });
</script>
